<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tjoeun.ilsan.board.free.sql.orderRepMapper">

	<insert id="insert" parameterType="map">
		insert into table_info
		(
			table_id
		    ,table_pw
		) values (
			#{table_id}
			,#{table_pw}
		)
	</insert>
	
	<select id="select" resultType="map" parameterType="map">
		select 
				seq
		        ,table_id
		        ,table_id(write_date,'%y.%m.%d %H:%i') as write_date
		from table_info
		where table_id = #{table_id}
		order by seq desc
	</select>
</mapper>